@font-face {
    font-family: "brand-font";
    src: url("RobotoMono-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "brand-font-normal";
    src: url("RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "kiwi-r";
    src: url("KiwiMaru-Light.ttf");
}

@font-face {
    font-family: "kiwi-L";
    src: url("KiwiMaru-Light.ttf");
}

@font-face {
    font-family: "kiwi-m";
    src: url("KiwiMaru-Medium.ttf");
}